

div {
  display:block;
}

div, th, td, li, dt, dd, p {
  word-break: relative;
}

#header, #container, #content {
  position:relative;
} */


#gnbLogoContainer {
  margin-top: 0 auto;
}

.NavBarImg {
  width:103px;
  height:79px;
}

.logo {
  left:0;
  bottom:6px;
  width:100%;
  height:79px;
  text-align: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ol, ul {
  list-style-type: none;
}


#userMenu * {
  font-family: noto sans;
  font-weight: 400;
  letter-spacing: -.3px;
}

#userMenu .menu {
  position : relative;
  z-index: 400;
  float : left;
}

#userMenu .menu .lst .link_menu {
  padding-right:13px;
}

#userMenu .link_menu {
  float:left;
  height:37px;
  padding: 0 12px;
  color : #333;
  line-height:35px;
  white-space : nowrap;
}