

div {
  display:block;
}

div, th, td, li, dt, dd, p {
  word-break: relative;
}

#header, #container, #content {
  position:relative;
} */


#gnbLogoContainer {
  margin-top: 0 auto;
}

.NavBarImg {
  width:103px;
  height:79px;
}

.logo {
  left:0;
  bottom:6px;
  width:100%;
  height:79px;
  text-align: center;
}