

div {
  display:block;
}

div, th, td, li, dt, dd, p {
  word-break: relative;
}

#header, #container, #content {
  position:relative;
} 


#gnbLogoContainer {
  margin-top: 0 auto;
}

.NavBarImg {
  width:103px;
  height:79px;
}

.logo {
  left:0;
  bottom:6px;
  width:100%;
  height:79px;
  text-align: center;
}

li {
  display: list-item;
  /*/text-align: -webkit-match-parent;/*/
  float: left;
}

ol, ul {
  list-style: none;
}

#userMenu{
  float:right;
  padding-right: 25%;
}

#userMenu *{
  font-weight: bold;
  letter-spacing: -.3px;
  font-size: 12px;
}

a{
  text-decoration-line: none;
}

.menu{
  margin-right: 10px;
}

#userMenu .link_menu_join{
  color : #5f0080;
}

#userMenu .link_menu_login{
  color : #333;
}

#userMenu .link_menu_lst{
  color : #333;
}
